apiVersion: v1
kind: ConfigMap
metadata:
  name: user-config
data:
  DB_HOST: "mysql-user"
  DB_PORT: "3306"
  DB_NAME: "user"
  DB_USER: "root"

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: limyeeun/cloudcomputing-user-service:1.1
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: user-config
          env:
          - name: DB_PASS
            valueFrom:
              secretKeyRef:
                name: db-credentials
                key: DB_PASS
---
apiVersion: v1
kind: Service
metadata:
  name: user-service
spec:
  type: LoadBalancer
  selector:
    app: user-service
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
